:root {
    --mainColor: #15202B;
    --secondaryColor: #192734;

    --borderColor: #164D56;

    --mainText: #fff;
    --secondaryText: 160 F0F;

    --themeDotBorder: #FFF;

    --previewBg: rgba(25, 39, 52, 0.8);
    --previewShadow: #111921;
    --clr-settings-note: white;

    --table-text-clr: white;
    --progress-color: #1b3f75;

    --buttonColor: #17a2b8;
}

