:root {
    --mainColor: #606B56;
    --secondaryColor: #515a48;

    --borderColor: #161914;

    --mainText: #fff;
    --secondaryText: 160 F0F;

    --themeDotBorder: #FFF;

    --previewBg: rgba(81, 90, 72, 0.8);
    --previewShadow: #2a2f25;
    --clr-settings-note: white;

    --progress-color: #1f5f0b;
    --table-text-clr: white;


    --buttonColor: #669966;
}


